name: Backend Python Functionality Tests
on: [push, pull_request]
jobs:
    test:
        runs-on: macos-latest
        steps:
            - uses: actions/checkout@v3
            - name: Set up Python
              uses: actions/setup-python@v4
              with:
                python-version: "3.14.2"
            - name: Install dependencies
              run: |
                cd backend/src
                python -m pip install --upgrade pip
                pip install -r requirements.txt
            - name: Run Python tests
              run: |
                cd backend
                pytest